{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

    <h1>Listar Cursos</h1>
    <a href="{% url 'incluirCurso' %}" class="btn btn-primary">Cadastrar novo curso</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for curso in lista %}
           <tr>
           <td>{{ curso.nome }}</td>
           <td>{{ curso.valor }}</td>
           <td>
               <a href="{% url 'editarCurso' curso.codigo %}">Alterar</a>

               <a href="javascript:void(0)"
                  onclick="abrirTela('{% url 'excluirCurso' curso.codigo %}')">Excluir</a>
           </td>
           </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


